* {
    text-decoration: none;
}

.navbar {
    background-color: rgb(248, 248, 248);
    padding-left: 15px;
    padding-right: 15px;
    border-style: outset;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: #eff2f5;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-family: "Irish Grover", system-ui;
    font-size: 20px;
    color: #6c63ff;
}

li {
    font-family: "Saira Semi Condensed", sans-serif;
    list-style: none;
    display: inline-block;
}

li a {
    color: #000000;
    font-size: 14px;
    margin-right: 25px;
}

.btnimgstuff {
     display: flex;
     align-items: center;
     justify-content: flex-start;
}

.heading {
    font-family: "Yusei Magic", sans-serif;
}

.cardsimg {
    height: 400px;
    width: auto;
    justify-content: flex-end;
}
.btn {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}
button a {
    color: white;    
}
.mainh1 {
    font-family: "Righteous", sans-serif;
}